.content {
   min-height: 600px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding-top: 50px;
}


.title {
   font-size: 38px;
   font-weight: 600;
   margin-bottom: 10px;
}


.subtitle {
   font-size: 16px;
   margin-bottom: 20px;
}


.input {
   padding: 16px;
   background-color: #fff;
   border-radius: 6px;
   margin-bottom: 24px;
   min-width: 340px;
}


.inputContainer {
   position: relative;
}


.inputError,
.inputError:focus {
   border: 1px solid red;
}


.input:focus {
   border: 1px solid var(--decor-color-1);
}



.btns {
   margin-top: 20px;
   display: flex;
   font-size: 16px;
}


.btnSubmit {
   padding: 15px 30px;
   border-radius: 6px;
   background-color: var(--decor-color-1);
   color: #fff;
   font-weight: 600;
}


.btnSignUp {
   background: transparent;
   padding: 15px 20px;
}


.error {
   position: absolute;
   bottom: 6px;
   left: 16px;
   color: red;
   font-size: 10px;
}


.fetchError {
   color: red;
}



@media (max-width: 480px) {
   .input {
      min-width: 260px;
   }
}



@media (max-width: 380px) {
   .btns {
         flex-direction: column;
         align-items: flex-start;
      }


   .btnSubmit {
      margin-bottom: 5px;
}

   .btnSignUp {
      background: transparent;
      padding: 15px 20px 15px 0px;
}
}