.block {
   padding: 0px 0px 100px;
}


.info {
   padding: 40px;
   box-shadow: rgba(0, 30, 43, 0.2) 2px 4px 24px -4px;
   margin-bottom: 40px;
}


.category,
.progress {
   display: flex;
   align-items: center;
   margin-bottom: 30px;
}



.categoryIcon,
.progressIcon {
   margin-right: 10px;
}



.title {
   font-weight: 600;
   font-size: 26px;
   margin-bottom: 30px;
   line-height: 1.2;
}



.start {
   margin-bottom: 30px;
}

.start span {
   font-weight: 600;
}




.lastCheck span {
   font-weight: 600;
}



.btnCheck {
   display: block;
   font-size: 16px;
   padding: 15px 30px;
   border-radius: 6px;
   background-color: var(--decor-color-1);
   color: #fff;
   font-weight: 600;
   margin-bottom: 40px;
}



.btns {
   display: flex;
   font-size: 16px;
}


.btnSave {
   padding: 15px 30px;
   border-radius: 6px;
   border: 1px solid var(--decor-color-1);
   background: transparent;
   color: var(--decor-color-1);
   font-weight: 600;
}


.btnDelete {
   background: transparent;
   color: #ff4141;
   padding: 15px 20px;
}



@media (max-width: 380px) {
   .btns {
      flex-direction: column;
      align-items: flex-start;
   }

   .info {
      padding: 40px 30px;
   }
}




@media (max-width: 320px) {
   .info {
      padding: 40px 20px;
   }
}



