.item {
   padding: 30px;
   box-shadow: rgba(0, 30, 43, 0.2) 2px 4px 14px -4px;
   border-radius: 10px;
   font-size: 16px;
}


.category, .progress {
   display: flex;
   align-items: center;
   margin-bottom: 30px;
}



.categoryIcon, .progressIcon {
   margin-right: 10px;
}



.title {
   display: block;
   color: inherit;
   font-weight: 600;
   font-size: 22px;
   margin-bottom: 30px;
   line-height: 1.2;
}


.lastCheck {
   margin-bottom: 30px;
}



.lastCheck span {
   font-weight: 600;
}



.btnCheck {
   display: inline-block;
   padding: 15px 30px;
   border-radius: 6px;
   background-color: #fff;
   color: var(--decor-color-1);
   border: 1px solid var(--item-border);
   font-weight: 600;
}


.btnCheck:hover {
   background-color: var(--decor-color-1);
   color: #fff;
   border-color: var(--decor-color-1);
}


